{# If you have a "Content Type" for footer in Built.io Contentstack then use get() view helper to retrieve footer entry. #}
{# e.g. set footer = get("footer_content_type_id") #}
{# And then render footer values using the {{footer.field_name}} #}

{% set url = entry.url %}

{% if url== "/pronq_pricing" %}
<div class="footer">
	<div class="container">
		<div class="footer-border border-footer">
			<div class="footer-logo"><img src="{{getAssetUrl(entry.footergroup.footer_logo)}}"></div>
		</div>
		<div class="privacy-text">
			{{entry.footergroup.privacytext}}<span class="copyright">{{entry.footergroup.footercopyright}}</span>
		</div>
	</div>

</div>
{% endif %}


{% if url == "/price_landing" %}

<div class="footer">
	<div class="container">
		<div class="footer-border border-footer">
			<div class="footer-logo"><img src="{{getAssetUrl(entry.footergroup.footer_logo)}}"></div>
		</div>
		<div class="privacy-text">
			{{entry.footergroup.privacytext}}<span class="copyright">{{entry.footergroup.footercopyright}}</span>
		</div>
	</div>

</div>

{% endif %}


{% if url == "/market_landing" or url == "/page_vertica" %}

<div class="footer">
	<div class="container">
		<div class="marketing-footer">
		<div class="privacy-text-marketing">
			{{entry.footergroup.privacytxt}}
		</div>
		<div class="pronqbyhp-span"><span><img src="{{getAssetUrl(entry.footergroup.footerpronq)}}"></span>{{entry.footergroup.pronqbyhp}}</div>
			<div class="logos-footer">
				<ul class="logos-footer-ul">

				{% for footerlog in entry.footergroup.footerimages.footerfile%}
					<li><img src="{{getAssetUrl(footerlog)}}"></li>
				
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</div>
{% endif %}