{# If you have a "Content Type" for footer in Built.io Contentstack then use get() view helper to retrieve footer entry. #}
{% set footer = get("footer") %}
{# And then render footer values using the {{footer.field_name}} #}

{% set url = entry.url %}

{% if url== "/pronq_pricing" %}
<div class="footer">
	<div class="container">
		<div class="footer-border border-footer">
			<div class="footer-logo"><a href="javascript:void(0);"><img src="{{getAssetUrl(footer.footerlogo)}}"></a></div>
		</div>
		<div class="privacy-text">
			<a style="color: white;" href="javascript:void(0);">{{footer.privacytxt}}</a><span class="copyright"><a style="color: white;" href="javascript:void(0);">{{footer.copyright}}</a></span>
		</div>
	</div>

</div>
{% endif %}


{% if url == "/price_landing" %}

<div class="footer">
	<div class="container">
		<div class="footer-border border-footer">
			<div class="footer-logo"><a href="javascript:void(0);"><img src="{{getAssetUrl(footer.footerlogo)}}"></a></div>
		</div>
		<div class="privacy-text">
			<a style="color: white;" href="javascript:void(0);">{{footer.privacytxt}}</a><span class="copyright"><a style="color: white;" href="javascript:void(0);">{{footer.copyright}}</a></span>
		</div>
	</div>

</div>

{% endif %}


{% if url == "/market_landing" %}

<div class="footer">
	<div class="container">
		<div class="marketing-footer">
		<div class="privacy-text-marketing">
			<a style="color: white;" href="javascript:void(0);">{{footer.privacytxt}}</a>
		</div>
		<div class="pronqbyhp-span"><span><img src="{{getAssetUrl(footer.marketlogo)}}"></span>{{footer.copyright}}</div>
			<div class="logos-footer">
				<ul class="logos-footer-ul">

				{% for footerlog in footer.footerimages.footefile%}
					<li><a href="javascript:void(0);"><img src="{{getAssetUrl(footerlog)}}"></a></li>
				
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</div>
{% endif %}

{% if url == "/page_vertica" %}

<div class="footer" style="height:140px;">
	<div class="container">
		<div class="vertica-footer">
		<div class="privacy-text-marketing">
			<a style="color: white;" href="javascript:void(0);">{{footer.privacytxt}}</a>
		</div>
		<div class="pronqbyhp-span"><span><img src="{{getAssetUrl(footer.marketlogo)}}"></span><a style="color: white;" href="javascript:void(0);">{{footer.copyright}}</a></div>
			<div class="logos-footer">
				<ul class="logos-footer-ul">

				{% for footerlog in footer.pageverticafooterlogos.file%}
					<li><a href="javascript:void(0);"><img src="{{getAssetUrl(footerlog)}}"></a></li>
				
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</div>
{% endif %}

