{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry. #}
{% set header = get("header") %}
{# And then render header values using the {{header.field_name}} #}
{% set url = entry.url %}

{% if url == "/pronq_pricing" %}
<div class="header ">
	<div class="container ">
		<div class="pronqlogo"> 
			<img  src="{{getAssetUrl(header.pronqlogo)}}">
		</div>
		<div class="questionimg">
				<img class="question-img-tag"  src="{{getAssetUrl(header.questionimg)}}">
		</div>
	</div>
</div>
{% endif %}

{% if url == "/price_landing" %}
<div class="header ">
	<div class="container ">
		<div class="pronqlogo"> 
			<a href="javascript:void(0);"><img  src="{{getAssetUrl(header.pronqlogo)}}"></a>
		</div>
		<div class="header-nav-bar">
			<ul class="header-nav-ul">
			{% for menuval in header.menuitemgroup.menuitem %}	
				<li><a style="color: white;" href="javascript:void(0);">{{menuval}}</a></li>
			{% endfor %}		
			</ul>			
		</div>
		<div class="header-sign-in">
			<span class="sign">{{header.signingroup.signintext}}</span><span class="icon"><img src="{{getAssetUrl(header.signingroup.usericon)}}"></span>
		</div>
		<div class="header-search">
		<span class="img-holder"><a href="javascript:void(0);"><img src="{{getAssetUrl(header.pricesearchicon)}}"></a></span>
			<input class="txtbox" type="text">
		</div>
		<div class="questionimg">
				<img class="question-img-tag"  src="{{getAssetUrl(header.questionimg)}}">
		</div>
	</div>
</div>
{% endif %}


{% if url == "/market_landing" or url == "/page_vertica" %}
<div class="header">
	<div class="container">
		<div class="pronqlogo"> 
			<img  src="{{getAssetUrl(header.pronqlogo)}}">
		</div>

		<div class="header-sign-in-marketing">
			<span class="sign">{{header.signingroup.signintext}}</span>
			<span class="free-acount-span"><button class="create-free-btn">{{header.btntextcreatefreeaccount}}</button></span>
		</div>
	</div>
</div>
{% endif %}